@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Josefin Sans', sans-serif !important; */
  font-family: "Poppins", sans-serif !important;
}

body {
  cursor: url("./images/green_cursor.png"), auto !important;
}

.nav-color,
.footer-color {
  background-color: rgba(242, 238, 238, 0.547) !important;
  backdrop-filter: blur(5px) !important;
}

.link {
  text-decoration: none;
  color: black;
}

.card-link {
  text-decoration: none;
  color: black;
  width: 90% !important;
}

.display-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

.btn {
  background-color: rgb(7, 133, 121) !important;
  color: white !important;
  border-radius: 2px !important;
  border: 2px solid rgb(95, 95, 95) !important;
  transition: 0.3s ease-in !important;
}

.btn:hover {
  background-color: rgb(7, 133, 121) !important;
  color: white !important;
  filter: drop-shadow(5px 5px rgba(207, 203, 198));
}

/*slick Carousel*/

.slick-carousel {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.slick-carousel-data {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.slider .slick-dots {
  display: none !important;
}

.slick-prev {
  left: -30px !important;
  top: 40% !important;
}

.slick-next {
  right: -27px !important;
  top: 40% !important;
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.next-slick-arrow,
.prev-slick-arrow {
  width: 50px;
  height: 50px;
}

/*pagin slick slider*/

.paging-slick-slider {
  width: 100% !important;
  height: fit-content !important;
}

/* .paging-slick-slider:focus{
  outline: none !important;
  border: none !important;
} */

.paging-slick-slider .paging-slick-image {
  width: 60% !important;
  height: 300px !important;
  margin: 0 auto !important;
  object-fit: contain;
}

.paging-slick-slider img {
  width: 100% !important;
  height: 70px !important;
  padding: 0.5rem !important;
  object-fit: contain;
}

.paging-slick-slider .slick-dots {
  position: static !important;
}

.paging-slick-slider .slick-dots li {
  width: 80px !important;
  height: fit-content;
  margin: 0 1rem !important;
  margin-top: 2vh !important;
}

.paging-slick-slider .slick-prev {
  display: none !important;
}

.paging-slick-slider .slick-next {
  display: none !important;
}

/*Center Mode Slick Slider*/
.center-slick-slider .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.center-slick-slider .slick-next {
  right: -2rem !important;
}

/*Profile*/
/*user-profile-avatar*/
.user-profile-avatar {
  box-shadow: -3px 3px 26px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -3px 3px 26px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 3px 26px -3px rgba(0, 0, 0, 0.75);
}

/*Cart*/
.cart-card,
.checkout-box,
.address-box,
.dashboard-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
}

/*ShippingInfo*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/*admin*/
.admin-createproduct-input {
  width: 100% !important;
}

.admin-createproduct-input::file-selector-button {
  cursor: pointer;
  width: 100% !important;
  /* z-index: 2; */
  height: 5vh;
  border: 1px solid rgb(85, 82, 82);
  font-size: 0.8rem;
  transition: all 0.5s;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

/*Animations*/
.swirl-in-fwd {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/*Media Queries*/

@media screen and (max-width: 992px) {
  .paging-slick-slider .paging-slick-image {
    width: 80% !important;
    height: 200px !important;
  }

  .paging-slick-slider img {
    width: 80% !important;
    height: 50px !important;
    padding: 0.5rem !important;
  }

  .paging-slick-slider .slick-dots li {
    width: 70px !important;
    margin: 0 0.2rem !important;
    margin-top: 2vh !important;
  }

  .dashboard-card {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 620px) {
  .slick-carousel-data {
    align-items: center;
  }
  .slick-carousel {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .slider .slick-dots {
    display: block !important;
  }

  .slick-image-1 {
    width: 70%;
    margin-left: 4rem;
  }

  .slick-image-2 {
    width: 80%;
    margin-left: 2rem;
  }

  .slick-image-3 {
    width: 80%;
    margin-left: 2rem;
  }

  .center-slick-slider .slick-prev {
    display: block !important;
  }

  .center-slick-slider .slick-next {
    display: block !important;
  }

  .paging-slick-slider .paging-slick-image {
    width: 70% !important;
    height: 250px !important;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }
}
